
body{
  background-image: url("http://www.fightersgeneration.com/nz4/char/kitana-mkx-wallpaper.jpg");
  background-size: cover;
  height: 100%;
  width: 50%;

}
.ping h1{
  font-size: 100px;
  font-weight: bold;
  font-family: 'Press Start 2P', cursive;
  color: white;
}
.container h2{
  font-family: 'Orbitron';
  color: white;
}
.rules li{
  font-family: 'Arya';
  font-weight: bold;
  font-size: 20px;
  color: white;
}
#blanks h2{
  font-family: 'Arya';
  font-weight: bold;
  font-size: 20px;
  color: grey;
}
.submit{
  border-radius: 12px;
}
